# Ignore C++ compilation folders
**/build/
**/.cmake/
**/Makefile
**/CMakeCache.txt
**/CMakeFiles/
**/cmake_install.cmake

# Ignore generated trajectory files
**/robot_backbone.txt
**/*.txt

# Ignore Python caches
**/__pycache__/
**/*.pyc
